html
  head
    title Sessions
    link(rel='stylesheet', href='/static/ieye/css/bootstrap.min.css')

    block scripts
    //-   script(src='/jquery.js')
  body
    block content
        .container(style="margin-top:50px")
            .panel.panel-default
                .panel-body
                    - var users = new Map();
                    for session in sessionData
                        - if (!users.has(session.userID))
                        -     users.set(session.userID, '');

                    h2 Sessions
                    = 'current sessions: ' +  Object.keys(sessionData).length
                    br
                    = 'current users: ' + users.size                 
                    hr(style="visibility:hidden")
                    .well
                        for session in sessionData
                            - var useState = 'n/a';
                             for wstate in session.widget
                                if (wstate.eventType === 'allow' || wstate.eventType === 'disallow') {
                                    useState = wstate.eventType;
                                }

                            - var sDate = (new Date(session.sessionStartTime));
                            - var h = ('0' + sDate.getHours()).slice(-2);
                            - var m = ('0' + sDate.getMinutes()).slice(-2);
                            - var s = ('0' + sDate.getSeconds()).slice(-2);
                            div(style="display:flex; justify-content: space-between")
                                p= session.userID
                                p= session.sessionID
                                p= session.reactionType
                                p= useState
                                p= sDate.toLocaleDateString() + ' ' + h + ':' + m + ':' + s
                                p= 'mobile: ' + session.environment.mobile
                                p= 'browser: ' + session.environment.browser
                                p= 'version: ' + session.environment.browserVersion
                                p= (session.banned) ? 'banned: true' : 'banned: false'                          

            .panel.panel-default
                .panel-body
                    h2 History
                    hr(style="visibility:hidden")
                    div(style="")
                        - var bucket = new Map();
                        - var usersPerHour = new Map();
                        - var keys = Object.keys(historyData).reverse();
                        - for(var i = 0; i < keys.length; i++)
                            - var session = historyData[keys[i]]
                            -
                                var date = new Date(session.sessionStartTime);
                                var h = date.getHours();
                                if (!bucket.has(h)) {
                                    bucket.set(h, []);
                                }
                                bucket.get(h).push(session);

                                if (!usersPerHour.has(h)) {
                                    usersPerHour.set(h, new Map());
                                }
                                usersPerHour.get(h).set(session.userID, '');

                        - bucket.forEach((b, k) => {
                            .well
                                h4= (new Date()).toLocaleDateString() + ', ' +  k + ':00:00'
                                = 'sessions: ' +  b.length
                                br
                                = 'users: ' + usersPerHour.get(k).size                                
                                hr
                                -    b.forEach((session) => {
                                        - var useState = 'n/a';
                                        for (w in session.widget) {
                                            var wstate = session.widget[w];
                                            if (wstate.eventType === 'allow' || wstate.eventType === 'disallow') {
                                                useState = wstate.eventType;
                                            }
                                        }

                                        - var sDate = (new Date(session.sessionStartTime));
                                        - var h = ('0' + sDate.getHours()).slice(-2);
                                        - var m = ('0' + sDate.getMinutes()).slice(-2);
                                        - var s = ('0' + sDate.getSeconds()).slice(-2);
                                        div(style="display:flex; justify-content: space-between")
                                            p= session.userID
                                            p= session.sessionID
                                            p= session.reactionType
                                            p= useState
                                            p= sDate.toLocaleDateString() + ' ' + h + ':' + m + ':' + s
                                            p= 'mobile: ' + session.environment.mobile
                                            p= 'browser: ' + session.environment.browser
                                            p= 'version: ' + session.environment.browserVersion
                                            p= (session.banned) ? 'banned: true' : 'banned: false'
                                -    });
                        - });
    block foot
footer(style="margin:auto;margin-bottom:50px;width:50%;text-align:center")
    p
        i History will be deleted within 24 hours.