html
  head
    title Sessions
    link(rel='stylesheet', href='../../moocwidgets/static/ieye/css/bootstrap.min.css')

    block scripts
    //-   script(src='/jquery.js')
  body
    block content
        .container(style="margin-top:50px")
            .panel.panel-default
                .panel-body
                    h2 History
                    hr(style="visibility:hidden")
                    div(style="")
                        //- Dataparsing
                        //- bucket sessions into [date-hours, session]
                        - var bucket = new Map();
                        - var usersPerDateHour = new Map();
                        - historyData = JSON.parse(JSON.stringify(historyData))
                        - var keys = Object.keys(historyData).reverse();
                        - for(var i = 0; i < keys.length; i++)
                            - var session = historyData[keys[i]]
                            -
                                var date = new Date(session.sessionStartTime);
                                var h = date.toLocaleDateString() + ', ' + date.getHours() + ':00:00';
                                if (!bucket.has(h)) {
                                    bucket.set(h, []);
                                }
                                bucket.get(h).push(session);

                                if (!usersPerDateHour.has(h)) {
                                    usersPerDateHour.set(h, new Map());
                                }
                                usersPerDateHour.get(h).set(session.userID, '');
                        
                        - bucket.forEach((b, k) => {
                            .well
                                h4= k
                                h5= 'sessions: ' +  b.length
                                h5= 'users: ' + usersPerDateHour.get(k).size                                
                                hr
                                -    b.forEach((session) => {
                                        - var useState = 'n/a';
                                        for wstate in session.widget
                                            - 
                                                if (wstate.eventType === 'allow' || wstate.eventType === 'disallow')
                                                    useState = wstate.eventType;

                                        - var sDate = (new Date(session.sessionStartTime));
                                        - var h = ('0' + sDate.getHours()).slice(-2);
                                        - var m = ('0' + sDate.getMinutes()).slice(-2);
                                        - var s = ('0' + sDate.getSeconds()).slice(-2);
                                        div(style="display:flex; justify-content: space-between")
                                            p= session.userID
                                            p= session.sessionID
                                            p= session.reactionType
                                            p= useState
                                            p= h + ':' + m + ':' + s
                                            p= session.environment.browser + ' ('+session.environment.browserVersion+')'                                            
                                            p= 'mobile: ' + session.environment.mobile
                                            p= 'banned: ' + session.banned
                                -    });
                        - });
    block foot
footer(style="margin:auto;margin-bottom:50px;width:50%;text-align:center")
    p
        i History logged.